.Card{
    flex: 1;
    margin: 20px;
    border : 3px solid #000f;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(143,54,96);
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Card .Content {
    flex: 1;
    font-size: 20px;
    color: rgb(105,219,107);
    padding: 15px 0px;
}

.Card .Footer {
    color: #fff;
    background-color: #000f;
    padding: 5px 0px;
}

